@if (images) {
    <ngb-carousel>
        @for (image of images; track image) {
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="image" alt="Random slide"/>
            </div>
            <div class="carousel-caption">
                <h1> Bienvenue sur Online Hotel !</h1>
            </div>
        </ng-template>
    }
    </ngb-carousel>
}

<app-navbar></app-navbar>

<router-outlet></router-outlet>

